<div class="row">
    <div ng-class="{active: _StreamCtrl.IsDataLoading}" class="ui inverted dimmer">
        <div class="ui text loader">Loading ...</div>
    </div>
    <div class="sexteen wide column">
        <div class="ui top  secondary attached segment">
            <div class="ui accordion">
                <div class="title">
                    <button class="btn btn-default pull-left"><i class="icon dropdown"></i>New Post</button>
                </div>
                <div class="content">
                    <form class="transition visible" >
                        <div class="ui segments">
                            <div class="ui attached segment">
                                <div class="form-group">
                                    <label></label>
                                    <textarea ng-disabled="_StreamCtrl.IsPosting" id="new_post" class="form-control" ng-model="_StreamCtrl.New_post_body" rows="5" placeholder="Share something interesting..."></textarea>
                                </div>
                                <div id="card_image_preview" class="ui stackable card"  style="width: 120px!important;" ng-show="file">
                                    <div class="ui dimmer" ng-class="{'active':_StreamCtrl.IsUploading}">
                                        <div class="ui indeterminate text loader">Preparing File</div>
                                    </div>
                                    <div class="image">
                                        <img style="max-height: 120px!important;" id="image_preview" >
                                    </div>
                                    <div class="extra content" style="padding: 0.50em!important;text-align: center!important;">
                                        <button id="remove_image" ng-click="file = ''" class="ui red mini basic button">remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ui bottom attached secondary clearing segment">
                                <i id="image_icon" class="large icons" style="padding-top: 4px;padding-left: 4px;" type="file">
                                    <i class="link photo icon"></i>
                                    <i class="link corner add icon"></i>
                                </i>
                                <input id="image_input" type="file" file-model="file" accept="image/*" style="display: none;" />
                                <button ng-click="_StreamCtrl.NewPost();" ng-class="{'loading':_StreamCtrl.IsPosting}" class="ui small button pull-right">
                                    <i class="icon external"></i>
                                    Post
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <perfect-scrollbar class="scroll-wrapper" style="height:calc(100% - 90px);">
                <div class="ui feed">
                    <div class="event animation" ng-show="!post.ishidden" ng-class="{featured:post.featured == true}" ng-repeat="post in _StreamCtrl.posts" on-finish-render>
                        <div class="label">
                            <img ng-show="post.pImg" src="https://nearby-images.azureedge.net/image/{{post.pImg}}/128">
                            <img ng-show="!post.pImg" src="https://nearby-images.azureedge.net/image/1/128">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a ng-click="$root.ProfileCard(post.pid)">{{post.name}}</a>
                                <span ng-if="post.ul" class="ui mini label"
                                      ng-class="{yellow:post.ul == 'gold' ,red : post.ul == 'vip admin' || post.ul == 'vip staff' || post.ul == 'staff' || post.ul == 'admin',blue:post.ul == 'vip'}">
                                    {{post.ul}}
                                </span>
                                <span ng-if="post.ur > -1" class="ui mini gray label">#{{post.ur}}</span>

                                <div  class="ui basic buttons pull-right">
                                    <div class="ui dropdown floating icon button" ng-class="{loading:post.IsOptionLoading}">
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div ng-click="_StreamCtrl.Selected_Post = post" ng-show="post.pid == $root.User.profile.id" class="item delete_post"><i class="delete icon"></i> Delete Post</div>
                                            <div ng-show="post.pid == $root.User.profile.id" class="divider"></div>
                                            <div ng-click="_StreamCtrl.WatchPost(post)" class="item" ng-show="!post.w"><i class="unhide icon"></i> Watch Post</div>
                                            <div ng-click="_StreamCtrl.UnWatchPost(post)" class="item" ng-show="post.w"><i class="hide icon"></i> UnWatch Post</div>
                                            <div ng-click="_StreamCtrl.Selected_Post = post" class="item feature_post" ng-show="!post.featured"><i class="star icon"></i> Feature Post</div>
                                            <div ng-show="post.pid != $root.User.profile.id" class="divider"></div>
                                            <div ng-click="_StreamCtrl.Selected_Post = post" ng-show="post.pid != $root.User.profile.id" class="item report_post"><i class="ban icon"></i>Report Post</div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="date">
                                {{post.date | timeAgo }} from {{post.loc}}
                            </div>
                            <div class="extra text">
                                {{post.txt}}
                            </div>
                            <div ng-if="post.img" class="extra images">
                                <a href="https://nearby-images.azureedge.net/image/{{post.img}}" data-lightbox="{{post.img}}">
                                    <!--<lazy-img src-large="https://nearby-images.azureedge.net/image/{{post.img}}" src-small="https://nearby-images.azureedge.net/image/{{post.img}}/84" />-->
                                    <img src="https://nearby-images.azureedge.net/image/{{post.img}}/84"/>
                                </a>
                            </div>
                            <div class="meta">
                                <a class="like">
                                    <i class="circular blue thumbs up link icon"
                                       ng-click="_StreamCtrl.LikePost(post);" ng-class="{outline:post.gp == false ,loading:post.isLiking == true}"></i>
                                    <div style="padding: 0.2em 0.2em !important;float: right;">
                                        <span ng-if="post.gp == true && post.pc > 1 ">
                                        you and {{post.pc - 1}} others
                                        </span>
                                        <span ng-if="post.gp == true && post.pc == 1 ">
                                        you like this
                                        </span>
                                        <span ng-if="post.gp == false && post.pc  > 0">
                                        {{post.pc}} like
                                        </span>
                                    </div>
                                </a>
                                <div class="comment" style="margin-left: 0!important;" ng-click="_StreamCtrl.GetPostComments(post)">
                                    <i class="circular comment icon" ng-class="{loading:post.IsCommentsLoading == true}"></i>
                                    <a ng-class="{'red':post.new == true}" style="padding: 0.2em 0.2em !important;float: right;">
                                        {{post.cc}} Comments
                                    </a>
                                </div>
                            </div>
                            <div ng-if="post.comments" class="ui segment comments" style="margin-top: 10px">
                                <form class="ui form">
                                    <div class="field">
                                        <textarea id="new_comment" ng-model="post.mycomment" ng-disabled="post.IsCommenting" rows="2"></textarea>
                                    </div>
                                    <div ng-click="_StreamCtrl.CommentOnPost(post)" ng-class="{loading:post.IsCommenting}" class="ui blue labeled submit icon button">
                                        <i class="icon edit"></i> Add Reply
                                    </div>
                                    <a ng-click="post.comments=''">hide</a>
                                </form>
                                <div class="ui threaded comments">
                                    <div class="comment" ng-repeat="comment in post.comments" ng-show="!comment.deleted">
                                        <a class="avatar">
                                            <img ng-show="comment.pImg" src="https://nearby-images.azureedge.net/image/{{comment.pImg}}/128">
                                            <img ng-show="!comment.pImg" src="https://nearby-images.azureedge.net/image/1/128">
                                        </a>
                                        <div class="content">
                                            <a  class="auhor" ng-click="$root.ProfileCard(comment.pid)">{{comment.name}}</a>
                                            <div class="metadata">
                                                <span ng-if="comment.ul" class="ui mini label"
                                                      ng-class="{yellow:comment.ul == 'gold' ,red : comment.ul == 'vip admin' || comment.ul == 'vip staff' || comment.ul == 'staff'|| post.ul == 'admin',blue:comment.ul == 'vip'}">
                                                 {{comment.ul}}
                                                </span>
                                                <span ng-if="comment.ur > -1" class="ui mini gray label">#{{comment.ur}}</span>
                                            </div>
                                            <div class="date">{{comment.date | timeAgo }} from {{comment.loc}}</div>
                                            <div class="text">
                                                {{comment.txt}}
                                            </div>
                                            <div class="actions">
                                                <a ng-click="_StreamCtrl.DeleteMyComment(comment)" ng-show="comment.pid == $root.User.profile.id">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="center">
                        <div ng-click="_StreamCtrl.LoadMorePosts()" ng-show="$root.PostType != 'Trending'" ng-class="{'loading':_StreamCtrl.IsLoadingMore}" class="ui mini basic icon button">
                            <i class="plus icon"></i> More ...
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>


<div class="ui basic delete_post modal">
    <div class="content">
        <div class="confirm">
            <h1>Confirm your action</h1>
            <p>Are you really sure that you want to delete this post ?</p>
            <button onclick="$('.ui.basic.delete_post.modal').modal('hide') ;" autofocus>Cancel</button>
            <button ng-click="_StreamCtrl.DeletePost(_StreamCtrl.Selected_Post)">Confirm</button>
        </div>
    </div>
</div>

<div class="ui basic feature_post modal">
    <div class="content">
        <div class="confirm">
            <h1>Confirm your action</h1>
            <p>Featuring this post will deduct <strong>1 WNM Live point</strong> from your available point balance.  Would you like to feature this post? </p>
            <button onclick="$('.ui.basic.feature_post.modal').modal('hide') ;">Cancel</button>
            <button ng-click="_StreamCtrl.FeaturePost(_StreamCtrl.Selected_Post)" autofocus>Confirm</button>
        </div>
    </div>
</div>

<div class="ui basic report_post modal">
    <div class="content">
        <div class="confirm">
            <h1>Report Post</h1>

            <p style="margin:0 2rem 0.5rem">
                Does this post contain any of the following unacceptable content?
            <ul>
                <li>Threatening Language</li>
                <li>Offensive Language</li>
                <li>Nude/Sexual Language or Picture</li>
                <li>Illegal Activity</li>
                <li>Slurs and Epithets</li>
                <li>Picture of Extreme Violence</li>
                <li>Blatant SPAM</li>
            </ul>
            </p>
            <button onclick="$('.ui.basic.report_post.modal').modal('hide') ;">Cancel</button>
            <button ng-click="_StreamCtrl.ReportPost(_StreamCtrl.Selected_Post)" autofocus>Report</button>
        </div>
    </div>
</div>


<script>

    $('#image_icon').click(function(){
        $('#image_input').click();
    });

    $('#remove_image').click(function(){
        $('#image_preview').attr('src', '');
        $("#card_image_preview").hide();
    });


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
                $("#card_image_preview").show();
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#image_input").change(function(){
        readURL(this);
    });

    $('.ui.accordion').accordion();
</script>
